.feed{
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	align-items: center;
	max-width: none;
}

.photo{
	border: solid 1px #efefef;
	margin-bottom: 60px;
	max-width:600px;
	background-color: white;
}

.photo:last-child{
	margin: 0;
}

.photo__avatar{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 8px;
	animation: 1.5s martinaRotates infinite linear;
}

@keyframes martinaRotates{
	from{
		transform: rotate(0turn);
	}
	to{
		transform: rotate(1turn);
	}
}

.photo__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.photo__info{
	text-align: left;
	margin-right: auto;
	margin-left: 15px;
}

.photo__author{
	display: block;
	font-weight: 700;
}

.photo__image{
	max-width:100%;
	border: solid 1px #efefef;
}

.photo__main{
	display:block;
	margin-left: 13px;

}

.photo__actions i{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 13px;
	cursor: pointer;
}

.photo__likes{
	font-weight: 600;
	font-size: 12px;
	margin: 5px 5px;

}

.photo__comment{
	margin: 5px 5px;

}

.photo__comment-author{
	font-weight: 600;
	margin-right: 10px;

}

.photo__date{
	color: #999;
	margin-left: 5px;
}

.photo__add-comment-container{
	position: relative;
}

.photo__add-comment-container textarea{
    width:98%;
    box-sizing: border-box;
    resize: none;
    border: none;
    margin-top: 10px;
    font-weight: 700;
    border-top: 1px solid #efefef;
    margin-right: auto;
}

.photo__add-comment-container textarea:focus{
	outline: none;
}

.photo__add-comment-container i{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 15px;
}

.fa-heart-o{
	animation: .5s pump infinite linear;
}

@keyframes pump{
	from{
		transform: none;
	}
	to{
		transform: scale(1.1,1.1);
	}
}