body{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    background-color: #fafafa;
}

main,
footer{
	max-width: 900px;
}

main{
	margin-top: 60px;
	animation: .5s fadeMain linear;
}

@keyframes fadeMain{
	from{
		transform: translateY(20px);
		opacity: 0;
	}
	to{
		transform: none;
		opacity: 1
	}
}